<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /nombre_de_la_carpeta/

  # Ignorar la API
  RewriteRule ^api/ - [L]

  # Si el archivo o directorio existe físicamente, servirlo
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Routing de SPA (Next.js)
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
  AddType application/json .json
</IfModule>